.header {
  width: 100%;
  background: lightskyblue;
  // height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.user-dropdown {
  padding-top: 16px !important;
  .ant-dropdown-menu {
    .ant-card {
      width: 250px !important;
      .ant-card-body {
        width: 250px;
      }
    }
  }
  .ant-card .ant-card-meta {
    flex-direction: column !important;
    align-items: center !important;
  }
}
